@import '../../../globalStyles/variables';
@import '../../../globalStyles/mixins';

.shop-section{
  padding: 2% 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  .shop-item{
    max-width: 400px;
    text-align: center;
    border: 1px solid $black;
    padding: 10px;
    margin: 10px;
    a{
      color: $black;
      text-decoration: none;
    }
    img{
      width: 100%;
      height: auto;
    }
  }
}
@media only screen and (min-width:768px){
  .shop-section{
    justify-content: center;
  }
}
@media only screen and (min-width:960px){
  .shop-item{
    width: 250px;
  }
}
