@import '../../../globalStyles/variables';
@import '../../../globalStyles/mixins';
header{
  background-color: $white;
  .logo{
    padding: 10px;
  }
}

@media only screen and(min-width:960px){
  header{
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 10000;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
      width: 400px;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}
@media only screen and(min-width:1024px){
  .title{
    h2{
      font-size: .8em;
    }
  }
}